backend/.env
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/public/storage
dashboard/config.php
.DS_Store
Thumbs.db
*.log
backend/storage/app/firebase/service-account.json
